# Node modules
node_modules/
.trae/

android/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# VSCode settings (optional)
.vscode/
*.apk
cvdekh-backend/.env.local
cvdekh-backend/.env.production.local
cvdekh/cvdekh-5cc3e6d0cf77.json
cvDekhApi\environments\cvDekh.bru
cvDekhApi/environments/
cvDekhApi/environments/cvDekh.bru
cvDekhApi/environments/cvDekh.bru
cvdekh-backend/scripts/output.pdf
cvdekh-backend/scripts/testPdfGenerator.ts
bin/act
azure-appservice-setup.sh
manual-deploy.sh
cvdekh-backend/dev-scripts.sh
