# Node modules
node_modules/
.trae/

android/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# VSCode settings (optional)
.vscode/
cvdekh/build-1747411368627.apk
cvdekh/build-1747479776015.apk
