# Node modules
node_modules/
.trae/

android/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# VSCode settings (optional)
.vscode/
*.apk
cvdekh-backend/.env.local
cvdekh-backend/.env.production.local
